  
{{ block "components/responsegraph" . }}
    <div class="responsegraph"
        hx-get="/api/components/responsegraph/{{ .ID}}"
        hx-trigger="every 5s"
        hx-swap="outerHTML"
    >

        {{ range .Responses }}
            <div class="item {{ if .Online }}active{{end}}" style="height: {{ .ResponseTimePercent }}%">
                <div class="label">{{ .ResponseTime }}ms</div>
            </div>
        {{ end }}
    </div>
{{ end }}